<div>
  <h1>TODO List</h1>

  <h2>Tasks decided on:</h2>
  <ul>
    <li *ngFor="let item of todoItems; let i = index">
      <!-- Add a delete button for each to-do item -->
      
      <input type="checkbox" [(ngModel)]="item.completed" (ngModelChange)="updateCompletedItems()" /> {{ item.name }}
      <button (click)="deleteTodo(i)">Delete</button>
      <ul *ngIf="item.completed">
        <li *ngFor="let subtask of item.subtasks">{{ subtask }}</li>
      </ul>
    </li>
  </ul>
  <div>
    <!-- ...your existing HTML code... -->
  
    <h2>Add a New Task:</h2>
    <input type="text" [(ngModel)]="todoText" (keyup.enter)="addTodo()" placeholder="Enter a new task" />
    <button (click)="addTodo()">Add Task</button>
  
    <!-- Input field for adding subtasks -->
    <h4>Add Subtasks:</h4>
    <input type="text" [(ngModel)]="todoText" (keyup.enter)="addSubtask()" placeholder="Enter a subtask" />
    <button (click)="addSubtask()">Add Subtask</button>
  </div>
  
  <h2>Tasks which are done:</h2>
  <ul>
    <li *ngFor="let item of completedItems">
      {{ item.name }}
      <ul>
        <li *ngFor="let subtask of item.subtasks">{{ subtask }}</li>
      </ul>
    </li>
  </ul>
</div>
